.container{
    background-color: rgba(255, 255, 255, 0.504);
    text-align: center;
    padding-block: 3%;
    color: rgb(32, 87, 155);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    border: 10px solid #111010;
    
    
}
input{
    width: 20cm;
    height: 1cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #111010;
}
.addBtn {
    padding: 10px;
    width: 1cm;
    height:1cm ;
    background: #f1efef;
    color: #1b1a1a;    
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid black;
  }
  
  .addBtn:hover {
    background-color: #546e7e;
  }

#body{
    background-image: url('../images/22222.jpg');
    background-repeat: no-repeat;
    background-size: auto;

}
ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background:rgba(255, 255, 255, 0.404);
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.2s;
}